.hero-body {
    background-image: url('../images/kitchenpic1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 

};

.fas {
    color: black;
    text-shadow: slateblue;
}

.h1 {
    text-shadow: cadetblue 2px 2px;
}

[data-component="slideshow"] .slide {
    display: none;
  }

[data-component="slideshow"] .slide.active {
    display: block;
  }

  .imgSize{
    margin-top: 27px;
    align-items: center;
    min-height: 300px;
    max-height: 300px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 25px;
}